In [1]:
import pandas as pd

In [2]:
resources = "Resources/purchase_data.csv"

In [3]:
purchase_data = pd.read_csv(resources)

In [4]:
total_players = len(purchase_data["SN"].unique())
pd.DataFrame({"Total Players":[total_players]})

   Total Players
0            576

In [9]:
avg_price = purchase_data["Price"].mean()
unique_items = len(purchase_data["Item ID"].unique())
purchases = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], "Number of Purchases":[purchases], "Total Revenue":[total_revenue]})
purchase_ana = pd.DataFrame({"Number of Unique Items":[unique_items], "Average Price":[avg_price], "Number of Purchases":[purchases], "Total Revenue":[total_revenue]})

purchase_ana["Total Revenue"] = purchase_ana["Total Revenue"].map("${:,.2f}".format)
purchase_ana["Average Price"] = purchase_ana["Average Price"].map("${:,.2f}".format)

purchase_ana

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

In [14]:
gender_value = purchase_data["Gender"].value_counts()

#Total gender: 780, male: 652, female: 113, other: 15

male_percent = (652 / 780) * 100
female_percent = (113 / 780) * 100
other_percent = (15 / 780) * 100

pd.DataFrame({"Male Percentage":[male_percent], "Female Percentage":[female_percent], "Other Percentage":[other_percent]})
gender_perc = pd.DataFrame({"Male Percentage":[male_percent], "Female Percentage":[female_percent], "Other Percentage":[other_percent]})

gender_perc["Male Percentage"] = gender_perc["Male Percentage"].map("{:,.0f}%".format)
gender_perc["Female Percentage"] = gender_perc["Female Percentage"].map("{:,.0f}%".format)
gender_perc["Other Percentage"] = gender_perc["Other Percentage"].map("{:,.0f}%".format)

gender_perc

  Male Percentage Female Percentage Other Percentage
0             84%               14%               2%

In [ ]:
By Each Gender
male_purchase_count = 
male_average_purchase
male_total_purchase